[submodule "sources/poky"]
	path = sources/poky
	url = git@gitlab.cds.testo:devices/platform/embedded_platform/yocto-mirrors/poky
	branch = scarthgap
[submodule "sources/meta-arago"]
	path = sources/meta-arago
	url = git@gitlab.cds.testo:devices/platform/embedded_platform/yocto-mirrors/meta-arago
	branch = scarthgap
[submodule "sources/meta-ti"]
	path = sources/meta-ti
	url = git@gitlab.cds.testo:devices/platform/embedded_platform/yocto-mirrors/meta-ti
	branch = scarthgap
[submodule "sources/meta-arm"]
	path = sources/meta-arm
	url = git@gitlab.cds.testo:devices/platform/embedded_platform/yocto-mirrors/meta-arm
	branch = scarthgap
[submodule "sources/meta-clang"]
	path = sources/meta-clang
	url = git@gitlab.cds.testo:devices/platform/embedded_platform/yocto-mirrors/meta-clang.git
	branch = scarthgap
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = git@gitlab.cds.testo:devices/platform/embedded_platform/yocto-mirrors/meta-openembedded
	branch = scarthgap
[submodule "sources/meta-testo-userspace"]
	path = sources/meta-testo-userspace
	url = git@gitlab.cds.testo:devices/platform/embedded_platform/yocto-mirrors/testo-meta-testo-userspace.git
	branch = main
